.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color:#343a40;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  nav{
      background-color: rgba(0,0,0,.5);
      z-index: 2;
  }

  .opacity{
    background-color: #343a40;
  }
  
  .sidenav a {
    padding: 5px 8px 8px 40px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #c7b0b0;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .navVertical{
    margin-top: 25px;
  }